node_modules
.env
.expo

# Xcode
ios/build/
ios/DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
ios/.build/
ios/.swiftpm/
ios/Packages/

# CocoaPods (if added later)
ios/Pods/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
